body {
    margin: 0;
    padding: 0;
}

.container {
    width: 85%;
    max-width: 1320px;
    min-width: 1320px;
    margin: auto;
    /* background-color: brown; */
}

header {
    /* background-color: aqua; */
}

.banner {
    margin-top: 80px;
    margin-bottom: 80px;
    background-image: url('../images/Rectangle\ 14.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 16px;
   
}

.banner-shadow {

border-radius: 16px;
background-image: linear-gradient(black, transparent);
}

.banner-text-block {
    width: 650px;
    margin: auto;
    text-transform: capitalize;
    text-align: center;
    padding: 150px 0px;
    color: #ffffff;
    font-family: 'Merriweather';
}

.banner-text-block h1 {
    font-size: 72px;
    margin: 0;
    margin-top: 25px;
    
}

.banner-text-block h2 {
    font-size: 32px;
    font-style: normal;
    font-weight: lighter;
    margin: 0;   
}

/* Section 1 */

.section1-content {
    margin-bottom: 100px
}

.textblock {
    text-align: center;
    font-family: 'Inter';
}

.off {
    margin-top: 100px;
    color: red;
    font-size: 88px;
    font-weight: 700;
}

.holidays {
    text-transform: uppercase;
    font-size: 24px;
    color: red;
    margin-top: 50px;
}

.categories {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 600;
    margin-top: 10px;
}

.image-block-section1 {
    margin: auto;
    justify-content: center;
    display: flex;

}

.image-block-section1 img {
    margin-top: 100px;
    align-items:center;
    justify-content: center;
    
}

/* Section 2 */

.banner2 {
    margin-bottom: 80px;
    background-image: url('../images/Vector\ 2.png');
    background-size: 100% 100%;
    min-width: 1320px;
    background-repeat: no-repeat;
    border-radius: 16px;
   
}

.banner2-shadow {
border-radius: 16px;
background-image: linear-gradient(to right, black, transparent);
display: flex;
align-items: center;
position: relative;

}

.banner2-text-block {
    width: 685px;
    margin: 0;
    text-align: left;
    padding: 135px 130px;
    color: #ffffff;
    font-family: 'Merriweather';
}

.banner2-text-block h1 {
    letter-spacing: 8px;
    margin: 0;
    margin-bottom: 20px;
    font-size: 64px;
    line-height: 85px;    
}

.banner2-text-block p {
    
    font-size: 18px;
    font-family: 'Inter', serif;
    line-height: 35px;
    font-weight: 200;
    margin-bottom: 45px;
}

.banner2-text-block a {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Inter';
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    padding: 0 30px;
}

.section2-image-block img {
    width: 320px;
    height: 445px;
    position: absolute;
    top: 75px;
    left: 860px;
    }


    /* Section 3 */

    .background {
    text-align: center;
    border-radius: 16px;
    background-image: linear-gradient(rgb(251, 212, 212), rgb(255, 255, 255));
    margin-bottom: 150px;
}

.place-date-time {
    text-transform: capitalize; 
    padding: 80px 0;
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 500;
    text-align: center;
}

.place-date-time span {
    color: red;
}

.place-date-time p {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    
} 

.background a {
    justify-content: center;
    border-radius: 10px;
    padding: 15px 35px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Inter';
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;background-color: red;
    display: inline-block;
    margin-bottom: 100px; 
   
   
}

/* . Section 4 */

.section4-contain {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    align-items: center;
    border-radius: 16px;
    font-family: 'Inter';
    font-size: 20px;
   
}

.text-block-left {
    width: 400px;
    margin: 0;
}

.text-block-left h2 {
   color: red;
   font-size: 24px;
   font-weight: 400;
   margin: 0;
   margin-bottom: 15px;
   
}

.text-block-left h1 {
    font-size: 48px;
    font-family: 'Merriweather';
    margin: 0; 

    
}

.text-block-left p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    
}


.image-circle {
    border: 15px solid red;
    border-radius: 50%;
    padding: 25px 25px;

}

.text-block-right {
    width: 300px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    padding: 0 25px;    
}

.text-block-right h1 {
   color: red;
   font-size: 48px;
   font-weight: 600;
   margin: 0;
   margin-top: 150px;
   margin-bottom: 30px;

}

.text-block-right p {
    margin-bottom: 50px;
 }


 /* . Section 5 */

.section5-content {
width: 100%;
margin: auto;
justify-content: center;
align-items: center;
}

.section5-text-block {
   
  
    text-align: center;
    justify-content: center;
    font-family: 'Inter';
    font-weight: 300;
}


.section5-text-block h2 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
}

.section5-text-block span {
    color: red;
}

.section5-text-block h1 {
    margin: 0;
    font-family: 'Merriweather';
    font-weight: 900;
    font-size: 72px;
    text-transform: capitalize;
}

.section5-text-block p {
    
    text-align: center;
    line-height: 27px;
    margin-bottom: 50px;
}

.section5-image-block {
    display: flex;
    justify-content: flex-end;
}
.photo-block {
    display: flex;
   
}

.photo-girl-bag {
    width: 429px;
    height: 433px;
    background-image: url('../images/Women\ red\ bag.png');
    background-repeat: no-repeat; 
    display: flex;
    align-items: center;
}


.photo-girl-bag img {
    width: 310px ;
    height: 310px;
    margin-left: -160px;
    margin-top: 30px;
    
}

.vector-block {
    width: 100%;
    height: 229px;
    background-color: red;
    border-radius: 16px 0 16px 16px;
    display: flex; 
    align-items: flex-end;
    margin-bottom: 100px;
}

.vector-image img {
    width: 675px;
    height: 578px;
    margin-bottom: 80px;
    margin-left: 80px;
}


/* Section 6 */

.section6-content {

    text-align: left;
    align-items: center;
    font-family: 'Inter';
    font-weight: 200;
    margin: 0;
    
    
}

.section6-text-block {
    margin-bottom: 50px; 
}

.section6-text-block h2 {
text-transform: uppercase;
color: red;
font-weight: 500;
margin: 0;
font-size: 24px;
margin-bottom: 20px;
}

.section6-text-block h1 {
    text-transform: capitalize;
    font-size: 48px;
    margin: 0;
    font-family: 'Merriweather';
    margin-bottom: 20px;
}

.section6-text-block p {
margin: 0;
font-size: 20px;
line-height: 30px;
font-style: normal;

}

.section6-image-block .raw1 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}
.section6-image-block .raw2 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 100px;
}
 
/* Section 7 */

.section7-content {
    background-color: rgb(255, 240, 240);
    margin-bottom: 100px;
    border-radius: 16px;
}

.section7-icon-block {
padding: 30px 0px;
display: flex;
justify-content: center;
}

.section7-icon-block img {
   margin-top: 40px;
}

.section7-text-block h1 {
    text-align: center;
    margin: 0;
    text-transform: capitalize;
    font-family: 'Merriweather';
    font-size: 48px;
    margin-bottom: 20px;

}

.section7-text-block p {
    text-align: center;
    margin: 0;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 200;
    line-height: 30px;

}

.section7-input-block {
margin: auto;
width: 622px;
height: 72px;
display: flex;
justify-content: center;
padding: 40px 0 80px 0;

}

.button-Subscribe {
    width: 210px;
    height: 72px;
    background-color: red;
    border-radius: 0 50px 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.button-Subscribe a {
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 200;
}

.section7-input-block input {
    border-radius: 50px 0 0 50px;
    border-color: transparent;
}

input::placeholder {
    color: lightgrey;
    font-size: 18px;
    font-family: 'Inter';
    margin-left: 30px;
    font-style: normal;
    font-weight: 200;
}


/*  Footer */


footer {
    background-color: rgba(7, 2, 17, 1);
    height: 609px;
    color: #ffffff;
    margin-bottom: 150px;
}

.footer-container-content {
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 200;
    line-height: 40px;
}

.footer-text-block1 {
    padding: 100px 0 30px 0;
    display: flex;
    justify-content: space-between;
    
}

.text-left {
    width: 475px
}

.text-left p {
    margin: 0;
}

.text-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
}

.text-right ul {
    margin: 0;
    list-style: none;
    
}

.text-right ul li img {
    margin: 0;
    padding: 0 15px 0 0;
    margin-bottom: -5px;
    
}

hr { 
    height: 1px;
    background-color: rgb(20, 12, 35);
    border: none;
    
}

.icons-block {
    padding: 20px;
    display: flex;
    justify-content: center;
    
}

.icons-block i {
    padding: 12px;
    
}

.footer-text-block2 {
    padding: 40px 0 40px 0;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}
.text-right a {
text-decoration: none;
color: #ffffff;
}